<!-- your html code here -->



<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <p>Thank you for taking your time and reading this page. If you have any questions or concerns, please fill out the form below and we will get right back to you!</p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="border" style="border: 2px solid grey; padding:20px; width: 700px; background-color: lightgrey; border-radius: 5px;">
        <form>
            <div class="form-group row">
                <label for="exampleInputEmail1" class="col-sm-3 col-form-label ml"><b>Your E-mail</b></label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="Your e-mail" id="exampleInputEmail1">
                </div>
            </div>
        </form>
        <form>
            <div class="form-group row mt-3">
                <label for="inputMessage" class="col-sm-3 col-form-label ml"><b>Your Message</b></label>
                <div class="col-sm-9">
                    <textarea class="form-control" placeholder="Please enter your message..."></textarea>
                </div>
            </div>
        </form>
        <div class="row justify-content-end pt-4">
            <div class="col-2">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
