<div class="p-4"><hr class="mt-2 mb-3"/></div>
<div class="row">
    <img class=" circle col-3"
    src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="rounded image" class="rounded">
    <div class="col-9">
        <h5><strong>The Second Heading</strong> Is Pretty Cool Too</h5>
        <p>I am very tech savvy. I love computers. I'm in 4geeks academy and its pretty hard at first but it gets alot
            easier as you get further into the program. I just have to study alot but i HATEEE studying.</p>
    </div>
</div>
    
</div>